@font-face {
  font-family: 'iconFront';
  src: url('./assets/字魂龙吟手书.ttf') format('truetype');
}

.icon{
 font-family: 'iconFront';
 font-size: 30px; 
}

.hello{
  background-color: aqua;
}
.block-bg {
  background-image: url(./assets/3.jpg) !important;
}